html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(20,20,20);
    display: flex;
    flex-direction: column;
}

.body-content{
    display: flex;
    flex: 1;
}