header {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px 20px;
    background-color: rgb(40,40,40);
    position: sticky;
    z-index: 1000;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: #777;
    flex: 1;
}

.header-left a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}

.header-left a:hover {
    color: white;
}

.header-left a img{
    opacity: 90%;
    margin-top: 10px;
    margin-right: 30px;
    width:105px;
    height:50px;
}

.header-left a img:hover{
    opacity: 100%;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    height: 80px;
    gap: 40px;
}

.header-right h3{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.header-icon{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    transition: none;
    cursor: pointer;
}

#user-icon {
    background-image: url('../assets/icons/user.png');
}

#user-icon:hover {
    transition: opacity 0.666s ease-in-out;
    background-image: url('../assets/icons/user-hover.png');
}

#cart-icon {
    background-image: url('../assets/icons/shopping-cart.png');
}

#cart-icon:hover {
    transition: opacity 0.666s ease-in-out;
    background-image: url('../assets/icons/shopping-cart-hover.png');
}

#settings-icon {
    background-image: url('../assets/icons/settings.png');
}

#settings-icon:hover {
    transition: opacity 0.666s ease-in-out;
    background-image: url('../assets/icons/settings-hover.png');
}

.header-menu{
    display: flex;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0;
    right: -500px;
    height: 100vh;
    width: 450px;
    background-color: white;
    opacity: 1;
    transition: right 0.666s ease;
    position: fixed;
    z-index: 1001;
    transform: translateZ(0);
}

.header-menu-top{
    background-color: black;
    opacity: 90%;
    height: 200px;
}

.header-menu-bot{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    opacity: 95%;
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#toggle-header-menu:checked ~ .header-menu {
    right: 0;
}

#toggle-header-menu:checked ~ .background{
    transition: opacity 0.666s ease-in-out;
    opacity: 0.5;
    visibility: visible;
}

.header-menu label {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.header-menu-text-big {
    color: white;
    font-size: 20px;
    margin-top: 40px;
}

.header-menu-text-small {
    color: white;
    font-size: 12px;
}

.header-menu-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
    margin-top: 30px;
}

.header-menu .header-menu-buttons .log-in{
    font-family: "Lucida Sans", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 13px;
    min-width: 50px;
    min-height: 20px;
    padding: 10px 10px 5px;
    display: inline-block;
}

.header-menu .header-menu-buttons .sign-up{
    font-family: "Lucida Sans", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid white;
    font-size: 13px;
    min-width: 50px;
    min-height: 20px;
    padding: 10px 10px 5px;
    display: inline-block;
}

.header-menu-bot .user-buttons{
    display: inline-flex;
    align-items: flex-start;
    color: white;
    width: max-content;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 14px;
    text-decoration: none;
    gap: 5px;
    transition: transform 0.2s ease;
    transform-origin: left;
}

.header-menu-bot .user-buttons:hover{
    transform: scale(1.2);
}

.header-menu-bot .user-buttons img{
    max-height:20px;
    margin-right:10px
}

.header-menu-bot .logo-img{
    align-self: center;
    width: 40%;
    height: auto;
}


