node_modules/
!package-lock.json
www/
.cache/
ios/App/DerivedData/
ios/App/build/
ios/App/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/*.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
ios/CapApp-SPM/.build/
ios/CapApp-SPM/.swiftpm/
*.xcuserstate
*.mobileprovision
*.p12
*.cer
*.key
*.pem
