.end-session-button a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.end-session-button a:hover{
    text-decoration: white underline;
}

.save-button{
    font-family: "Lucida Sans", sans-serif;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: rgb(40,40,40);
    border: 1px solid white;
    font-size: 18px;
    padding: 12px 20px 12px;
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 150px;
}

.login-signup-button {
    font-family: "Lucida Sans", sans-serif;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: rgb(40,40,40);
    border: 1px solid white;
    font-size: 20px;
    padding: 12px 20px 12px;
    margin-top: 35px;
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
    max-width: 200px;
}

.login-signup-button:hover:hover {
    transform: scale(1.07);
}

.edit-button {
    margin-top: 4%;
    margin-left: 10%;
    width: 35px;
    height: 35px;
    background-image: url('https://gnomo.fe.up.pt/~up201906465/dbs/assets/icons/edit.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.edit-button:hover {
    opacity: 1;
}

.delete-button {
    margin-top: 4%;
    width: 35px;
    height: 35px;
    background-image: url('https://gnomo.fe.up.pt/~up201906465/dbs/assets/icons/delete.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.delete-button:hover {
    opacity: 1;
}

.view-button {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background-image: url('https://gnomo.fe.up.pt/~up201906465/dbs/assets/icons/view.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.view-button:hover {
    opacity: 1;
}

.add-button {
    min-width: 35px;
    min-height: 35px;
    background-image: url('https://gnomo.fe.up.pt/~up201906465/dbs/assets/icons/add.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    opacity: 0.5;
}

.add-button:hover {
    opacity: 1;
}


.remove-button {
    min-width: 35px;
    min-height: 35px;
    background-image: url('https://gnomo.fe.up.pt/~up201906465/dbs/assets/icons/minus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    opacity: 0.5;
}

.remove-button:hover {
    opacity: 1;
}

.delete-item-yes-button {
    font-family: "Lucida Sans", sans-serif;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    background-color: indianred;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 20px 12px;
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
}

.delete-item-yes-button:hover {
    transform: scale(1.07);
}

.delete-item-no-button {
    font-family: "Lucida Sans", sans-serif;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: rgb(40,40,40);
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 20px 12px;
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
}

.delete-item-no-button:hover {
    transform: scale(1.07);
}

.download-button{
    transition: transform 0.3s ease;
}

