.password-requirements{
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

.password-requirements p, .password-requirements ul {
    margin: 10px 0;
}

.password-requirements ul {
    padding-left: 20px;
}

.delete-item-popup{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 100px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2001;
}

.delete-item-popup-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.delete-item-popup h2{
    color: white;
    margin-left: 25px;
}

#delete-overlay, #delete {
    display: none;
}

#delete:target, #delete:target + #delete-overlay {
    display: block;
}

.delete-item-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.5);
    z-index: 2000;
}

.delete-item-overlay:target {
    display: block;
}

.edit-item-popup{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    min-height: 400px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2001;
}

.edit-item-popup-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.edit-item-popup h1{
    color: white;
    margin-left: 25px;
    text-align: center;
}

#edit-overlay, #edit {
    display: none;
}

#edit:target, #edit:target + #edit-overlay {
    display: block;
}

.edit-item-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.5);
    z-index: 2000;
}

.edit-item-overlay:target {
    display: block;
}