.user-data-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    margin: 30px;
}

.user-data-form form input {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.user-data-form input[type="text"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-data-form input[type="password"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-data-form input[type="email"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-data-form input[type="date"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-data-form input[type="number"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.user-data-form input:invalid:not(:placeholder-shown) {
    background-color: rgba(240, 128, 128, 0.2);
}

.user-data-form input:valid:not(:placeholder-shown) {
    background-color: rgba(144, 238, 144, 0.2);
}

.filter-form h3{
    margin-left: 10%;
    color: white;
    font-weight: bold;
}

.filter-form form {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.filter-form form label {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.filter-form form label p{
    color:darkgrey;
    margin-left: 5px;
    font-size: 14px;
}

.filter-form form input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid lightgrey;
    background-color: rgb(40, 40, 40);
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-form form input[type="checkbox"]:checked {
    background-color: white;
    border-color: white;
}

.filter-form form input[type="checkbox"]:checked::before {
    content: '\2713';
    color: black;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-form  form input[type="checkbox"]::after {
    content: '';
    position: absolute;
    left: -41px;
    top: 8px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease-in-out;
}

.login-signup-form{
    margin-top: 30px;
    box-sizing: border-box;
    max-width: 400px;

}

.login-signup-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-signup-form form input:not([type="checkbox"]) {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 400px;
}

.login-signup-form form input[type="checkbox"] {
    margin-right: 10px;
}

.login-signup-form form input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.login-signup-form form input:invalid {
    background-color: rgba(240, 128, 128, 0.2);
}

.login-signup-form form input:valid {
    background-color: rgba(144, 238, 144, 0.2);
}

.login-signup-form button{
    margin-left: 100px;
    cursor: pointer;
}

.add-item-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    margin: 10px 200px 30px 30px;
}

.add-item-form form input {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.add-item-form input[type="text"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.add-item-form .add-filter-container input[type="text"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-height: 36px;
}

.add-item-form textarea{
    background-color: transparent;
    border: 1px solid white;
    min-height: 150px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.add-item-form input[type="number"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.add-item-form select{
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.add-item-form option{
    background-color: rgb(40,40,40);
    border: 1px solid white;
    color: white;
}

.add-item-form input[type="file"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.edit-user-form-container{
    flex: 1;
    display: flex;
    margin: 40px;
    flex-direction: column;
}

.edit-user-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    margin: 20px;
}

.edit-user-form input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.edit-user-form select{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.edit-user-form option{
    background-color: rgb(40,40,40);
    border: 1px solid white;
    color: white;
}

.order-container select{
    margin-left: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.order-container option{
    background-color: rgb(40,40,40);
    color: white;
}

.payment-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    color: white;
    gap: 20px;
}

.payment-form label {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 15px;
}

.payment-form label:hover {
    background: rgba(255, 255, 255, 0.1);
}

.payment-form label img {
    width: 50px;
    height: auto;
}

.payment-form label div {
    display: flex;
    flex-direction: column;
}

.payment-form label strong {
    font-size: 16px;
    margin-bottom: 5px;
}

.payment-form label p {
    font-size: 14px;
    margin: 0;
}

.payment-form input[type="radio"] {
    position: relative;
    top: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
    margin: 0;
    accent-color: #007bff;
}

.search-bar {
    margin-top: 20px;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 260px;
    background-color: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

.search-bar:focus {
    animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
    0% {
        box-shadow: -2px -2px 0px 0px gray, 2px 2px 0px 0px white;
    }
    25% {
        box-shadow: -2px 2px 0px 0px gray, 2px -2px 0px 0px white;
    }
    50% {
        box-shadow: 2px 2px 0px 0px gray, -2px -2px 0px 0px white;
    }
    75% {
        box-shadow: 2px -2px 0px 0px gray, -2px 2px 0px 0px white;
    }
    100% {
        box-shadow: -2px -2px 0px 0px gray, 2px 2px 0px 0px white;
    }
}

